<%- include('../layout/partials/userHeader') -%>
<div class="d-flex justify-content-center align-items-center flex-column mt-5">
  <div
    class="d-flex justify-content-center align-items-center flex-column mt-5"
  >
    <div class="add-product">
      <form
        class="card-body form"
        id="signupForm"
        action="/otp/changePassword"
        method="post"
        onsubmit="return validateChangePasswordForm()"
      >
        <h3 class="card-title">Change Password</h3>
        <input type="hidden" id="mobile" name="mobile" value="<%= mobile %>" />
        <div class="mb-3">
          <label for="password" class="card-title">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control card-title input"
            autocomplete="off"
            placeholder="Password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="card-title"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control card-title input"
            autocomplete="off"
            placeholder="Confirm Password"
            required
          />
        </div>

        <% if (locals.msg) { %>
        <div id="msgs" class="alert alert-danger text-center"><%= msg %></div>
        <% } %>
        <button
          type="submit"
          class="btn btn-primary card-details-btn border-0"
          style="width: 100%"
        >
          Submit
        </button>
        <a class="mt-5" href="/login.">Already Remember Password? Login</a>
      </form>
    </div>
  </div>
</div>

<%- include('../layout/partials/userFooter') -%>

<script>
  function validateChangePasswordForm() {
    const passwordInput = document.getElementById("password");
    const confirmPasswordInput = document.getElementById("confirmPassword");
    const password = passwordInput.value;
    const confirmPassword = confirmPasswordInput.value;

    // Check password length
    if (password.length < 8) {
      displayErrorMessage("Password should be at least 8 characters long");
      passwordInput.focus();
      return false;
    }

    // Check password match
    if (password !== confirmPassword) {
      displayErrorMessage("Passwords do not match");
      confirmPasswordInput.focus();
      return false;
    }

    // Clear error message and allow form submission
    clearErrorMessage();
    return true;
  }

  function displayErrorMessage(message) {
    const errorMessage = document.getElementById("errorMessage");
    errorMessage.textContent = message;
  }

  function clearErrorMessage() {
    const errorMessage = document.getElementById("errorMessage");
    errorMessage.textContent = "";
  }
</script>
