<%- include('../layout/partials/userHeader') -%>
<div class="d-flex justify-content-center align-items-center flex-column mt-5">
  <div
    class="d-flex justify-content-center align-items-center flex-column mt-5"
  >
    <div class="add-product">
      <form
        class="card-body form"
        id="loginForm"
        action="/sendotp"
        method="post"
        onsubmit="return validateSignUpForm3()"
      >
        <h3 class="card-title">Mobile Login</h3>
        <div class="mb-3">
          <label for="mobile" class="card-title">Mobile Number</label>
          <input
            type="number"
            id="mobile"
            name="mobile"
            class="form-control card-title input"
            autocomplete="off"
            placeholder="Enter your mobile number"
            required
          />
        </div>
        <% if (locals.msg) { %>
        <div id="msgs" class="alert alert-danger text-center"><%= msg %></div>
        <% } %>
        <button
          type="submit"
          class="btn btn-primary card-details-btn border-0"
          style="width: 100%"
        >
          Send OTP
        </button>
        <a href="/signupMobile">New User? SignUp</a>
        <!-- Corrected signup link -->
      </form>
    </div>
  </div>
</div>
<%- include('../layout/partials/userFooter') -%>

<script>
  function validateSignUpForm3() {
    const mobileInput = document.getElementById("mobile");

    // Check if mobile number is empty or not a valid mobile number
    if (mobileInput.value === "" || !validateMobile(mobileInput.value)) {
      alert("Please enter a valid mobile number.");
      mobileInput.focus();
      return false;
    }

    return true;
  }

  // Helper function to validate mobile number
  function validateMobile(mobile) {
    const mobileRegex = /^[0-9]{10}$/;
    return mobileRegex.test(mobile);
  }
</script>
