<%- include('../layout/partials/userHeader') -%>
<div class="d-flex justify-content-center align-items-center flex-column mt-5">
  <div
    class="d-flex justify-content-center align-items-center flex-column mt-5"
  >
    <div class="add-product">
      <form
        class="card-body form"
        id="signupForm"
        action="/homeadd"
        method="post"
        enctype="multipart/form-data"
        onsubmit="return validateSignUpForm()"
      >
        <h3 class="card-title">Classic Sign Up</h3>
        <div class="mb-3">
          <label for="name" class="card-title">Name</label>
          <input
            class="form-control card-title input"
            type="text"
            id="name"
            name="name"
            autocomplete="off"
            placeholder="Name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="card-title">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control card-title input"
            autocomplete="off"
            placeholder="E-Mail I.D."
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="card-title">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control card-title input"
            autocomplete="off"
            placeholder="Password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="card-title">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control card-title input"
            autocomplete="off"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="mobile" class="card-title">Mobile</label>
          <input
            type="text"
            id="mobile"
            name="mobile"
            class="form-control card-title input"
            autocomplete="off"
            placeholder="Mobile"
            required
          />
        </div>
        <div class="mb-3">
          <label for="image" class="card-title">Profile Image</label>
          <input
            type="file"
            id="image"
            name="image"
            class="form-control card-title input"
            accept="image/*"
            required
          />
        </div>
        <% if (locals.msg) { %>
        <div id="msgs" class="alert alert-danger text-center"><%= msg %></div>
        <% } %>
        <button
          type="submit"
          class="btn btn-primary card-details-btn border-0"
          style="width: 100%"
        >
          Submit
        </button>
        <a class="mt-5" href="/login.">Already a User? Login</a>
      </form>
    </div>
  </div>
</div>

<%- include('../layout/partials/userFooter') -%>
